name: spin

on:
  push:
    tags: ["v*.*.*"]

env:
  REGISTRY: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  spin:
    runs-on: ubuntu-latest
    name: Spin build and push to ghcr.io
    steps:
      - name: Install target wasm-wasi
        run: "rustup target add wasm32-wasip1"
      - uses: actions/checkout@v4
      - name: Setup `spin`
        uses: fermyon/actions/spin/setup@v1
      - name: Run `spin version`
        run: "spin --version"
      - name: Download Progressive Web App
        run: |
          wget https://github.com/paulusminus/lipl-control/releases/latest/download/lipl-pwa.tar.gz
          mkdir -p pwa
          cd pwa
          rm -rf *
          tar -xzf ../lipl-pwa.tar.gz --no-same-owner --no-same-permissions
          rm ../lipl-pwa.tar.gz
      - name: build and push
        id: push
        uses: fermyon/actions/spin/push@v1
        with:
          registry: ${{ env.REGISTRY }}
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          registry_reference: "${{ env.REGISTRY }}/${{ github.repository }}:${{ github.ref_name }}"
      - name: echo digest
        run: echo ${{ steps.push.outputs.digest }}
